/* Seccion Servicios */
.servicios {
    padding-top: 5em;
  }
  .servicios h1 {
    color: #32cad7;
    font-weight: bold;
    padding-bottom: 2em;
  }
  .servicios h2 {
    color: #32cad7;
  }
  .servicios h4 {
    padding-top: 0.2em;
    color: #000;
  }
  .servicios p {
    text-align: justify;
    padding-top: 1em;
  }
  .servicios .servicio {
    padding-bottom: 8em;
    opacity: 0.9;
    transition: 0.3s ease transform;
  }
  .servicios .servicio:hover {
    transform: scale(1.1);
    opacity: 1;
  }