/* Seccion rutinas videos */
.rutinas {
    padding-bottom: 5em;
    background-color: #e4e4e4;
    color: #32cad7;
    padding-top: 3em;
  }
  .rutinas h1 {
    font-weight: bold;
  }
  .rutinas .video {
    max-width: 760px;
    margin: 0 auto;
  }
  /* Seccion App */
.app {
    margin: 4em 0;
    position: relative;
    padding-top: 6em;
    padding-bottom: 8em;
  }
  .app .content-app {
    margin: auto;
    padding-left: 50px;
  }
  .app .content-app h1 {
    padding-bottom: 40px;
    font-weight: bold;
    color: #32cad7;
  }
  .app .content-app p {
    font-size: 1.2rem;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: justify;
    color: #000;
  }
  .app .content-app .buttons button {
    background: none;
    outline: none;
    border: none;
  }
  
  /* Seccion Contacto */
  .contact-form {
    background-color: #e4e4e4;
    padding-bottom: 8em;
    background-color: #e4e4e4;
    position: relative;
    padding-top: 10em;
    padding-left: 12em;
  }
  .contact-form h1 {
    padding: 2em 1px;
    color: #32cad7;
    font-weight: bold;
  }
  .contact-form .right {
    max-width: 600px;
  }
  .contact-form .right .btn-secondary {
    background: #32cad7;
    color: #000;
    border: 0;
  }