/* Seccion recetas-lugares */
.recetas-lugares {
    color: #32cad7;
    padding-top: 5em;
  }
  .recetas-lugares h1 {
    padding-bottom: 1em;
    font-weight: bold;
  }
  .slider {
    width: 60%;
    height: 30%;
    margin: 0 auto;
    padding: 20px 0 0 0;
  }
  .slider__content {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .slider__content::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    background: #fff;
  }
  .slider__content::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #32cad7;
  }
  .slider__content::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: #fff;
  }
  .slider__item {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 100%;
    width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1;
  }
  .slider__image {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .slider__info {
    position: relative;
    padding: 4rem 2rem 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
  }
  .slider__info h2 {
    color: #fff;
    line-height: 1.1;
    font-weight: 300;
    font-size: 1.75rem;
    margin: 0;
  }
  .slider__nav {
    margin: 1rem 0 4rem;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-content: center;
    align-items: center;
    pointer-events: none;
  }
  .slider__nav__button {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 2rem;
    background: #32cad7;
    color: #000;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    line-height: 1;
    pointer-events: none;
    transition: 0.2s ease-out;
    opacity: 0.25;
  }
  .slider__nav__button--active {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }