/* Seccion Packs */
.pack {
    padding-top: 8em;
    padding-bottom: 5em;
    background-color: #e4e4e4;
  }
  .pack .sombra {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .pack .colorboton {
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #32cad7;
    color: #000;
  }
  .pack .colorboton span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .pack .colorboton span:after {
    content: "»";
    color: #000;
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }
  .pack .colorboton:hover span {
    padding-right: 25px;
  }
  .pack .colorboton:hover span:after {
    opacity: 1;
    right: 0;
  }
  .pack hr {
    height: 7px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    background-color: #32cad7;
    border: none;
    border-radius: 50px;
  }
  .pack ul {
    text-align: left;
    padding-left: 10%;
  }
  .pack ul li {
    margin: 20px 0;
  }
  .pack ul li::before {
    content: "✔";
    margin-right: 20px;
    color: blue;
  }
  .pack ul .line::before {
    content: "✖";
    margin-right: 20px;
    color: red;
  }